name: Deploy to Hosting
on:
  push:
    branches:
      - main
jobs:
  web-deploy:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
    - name: Get latest code
      uses: actions/checkout@v4

    - name: Sync files
      uses: SamKirkland/FTP-Deploy-Action@v4.3.5
      with:
        server: ${{ secrets.BACK_FTP_SERVER }}
        username: ${{ secrets.BACK_FTP_USERNAME }}
        password: ${{ secrets.BACK_FTP_PASSWORD }}
        # Đường dẫn trên host muốn lưu code (thường là public_html)
        server-dir: /domains/bookstore.doanlehoangnguyen.id.vn/
        local-dir: ./api/